@page
@model OnlineStore.Pages.Admin.EditRoleModel
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "EditRole";
}

    <div class="row">
        <div class="col-md-12">
            <h1>Edit Role</h1>
            <form method="post" asp-page-handler="EditRole">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="RoleId"></label>
                    <div class="col-sm-10">
                        <span class="text-muted">@Model.RoleId</span>
                    <input type="hidden" class="col-sm-8 form-control" asp-for="RoleId" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="RoleName"></label>
                    <input class="col-sm-8 form-control" asp-for="RoleName" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="card col-md-6">
            <div class="card-header">
                <h3>Users Assigned</h3>
            </div>
            
            <div class="card-body">
                @if (Model.UsersInRole.Count > 0)
                {
                <ul class="list-group">
                    @foreach (var user in Model.UsersInRole)
                    {
                    <li class="list-group-item">
                        <form method="post" asp-page-handler="RemoveUserFromRole" asp-route-userId="@user.Id" asp-route-roleId="@Model.RoleId">
                            @*RoleName is a required field in another form, I don't know how to bypass it and avoid the validation in this form.*@
                            <input type="hidden" asp-for="RoleName" />
                            <span>@user.UserName</span>
                            <button type="submit" class="btn btn-link">Remove</button>

                        </form>
                    </li>
                    }
                </ul>
                }
                else
                {
                    <h5>None at thie moment</h5>
                }
                    </div>
        </div>
        <div class="card col-md-6">
            
            <div class="card-header"><h3>Add User</h3></div>
            <div class="card-body">
                <form method="post" asp-page-handler="AddUserToRole">
                    <input type="hidden" asp-for="RoleId" />
                    <input type="hidden" asp-for="RoleName" />
                    <div class="form-group">
                        <div>
                            <select asp-items="@Model.UserList" asp-for="UserId" class="custom-select mr-sm-2">
                                <option value="">Please select one</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            
        </div>
    </div>


